.card{
border: 1px solid wheat;
width: 400px;
margin: 20px;
background-color: white;
color: black;
text-align: center;

}
img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-top: 40px ;

    height: 200px;
    width: 300px;
}
.home{
    display: grid
;
grid-template-columns: 30% 30% 30%;
}