.input{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
input{
    width: 400px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 40px;
    text-align: center;
}
.fa-solid{
    background-color: black;
    font-size: 20px;
}