.side{
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    
}
.fa-brands{
 
    /* font-size: 80px; */
    color: white;
}
.logo{
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.logo h3{
 margin-left: 5px;
    /* font-size: 40px; */
}
.side-button{
  
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.sign{
    cursor: pointer;
    margin-right: 50px;
 border: none;
 color: white;
 background-color: black;
 font-size: 20px;
}
.login{
    cursor: pointer;
    font-size: 20px;
    color: black;
    background-color: white;
    border-radius: 100px;
    padding: 10px;
    width: 100px;
}